# Zomato Data Analysis
This notebook is continued after `ZomatoKolDataCleaning.ipynb` in which location column was cleaned

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:


filepath = 'checkpoint3_locations_cleaned.csv'

df = pd.read_csv(filepath)

Visualization

In [5]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7082 entries, 0 to 7081
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       7082 non-null   object
 1   voteCount  7082 non-null   object
 2   rating     7082 non-null   float64
 3   address    7082 non-null   object
 4   cusine     7082 non-null   object
 5   cost       7082 non-null   object
 6   timing     7082 non-null   object
 7   City       7082 non-null   object
 8   Location   7082 non-null   object
dtypes: float64(1), object(8)
memory usage: 498.1+ KB

In [7]:
df['City'].value_counts()

City
Kolkata      6235
Howrah        479
Salt Lake     367
Bangalore       1
Name: count, dtype: int64

## Timing column cleaning

Creating a column called Midnight_Open "Yes" if open "No" if not

In [8]:
df['Midnight_Open'] = df['timing'].str.contains("midnight", case=False, na=False).map({True: 'Yes', False: 'No'})

In [9]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area,No
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area,Yes
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area,Yes
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area,No
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [10]:
# Check if the count of 'Yes' in 'Midnight_Open' column is equal to the count of rows where 'midnight' is present in 'timing'
is_equal = (df['Midnight_Open'] == 'Yes').sum() == df[df['timing'].str.contains("midnight", case=False, na=False)].shape[0]

# Display the result
print(f"Are the counts equal? {is_equal}")

Are the counts equal? True

In [11]:
# Let's check number of midnight restaurants
df['Midnight_Open'].value_counts()

Midnight_Open
No     6413
Yes     669
Name: count, dtype: int64

### Cleaning cost for two

In [12]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area,No
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area,Yes
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area,Yes
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area,No
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [13]:
df['cost'] = df['cost'].str.replace('₹', '')

In [18]:
def handlecomma(value):
    value = str(value)
    if ',' in value:
        value = value.replace(',','')
        return float(value)
    else:
        return float(value)
    
df['cost'] = df['cost'].apply(handlecomma)

In [20]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental",1000.0,11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area,No
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200.0,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area,Yes
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,1000.0,"12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area,Yes
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,1800.0,"12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area,No
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400.0,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [27]:
df[df['voteCount']=='Cuisines:'].head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
13,The Kebab Factory,Cuisines:,3.389075,"33, Royd Street, Park Street Area, Kolkata","Chinese, Asian",350.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No
17,Zainab Biryani,Cuisines:,3.389075,"19, Alimuddin Street, Park Street Area, Kolkata","Biryani, North Indian, Mughlai",400.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No
31,Paradise Biryani,Cuisines:,3.389075,"Shop 30 D, Ground Floor, Building Chowringhee ...","Chinese, Fast Food",800.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No
55,Crazy 4 Cakes,Cuisines:,3.389075,"7/1, Russel Street, Park Street Area, Kolkata","Pizza, Fast Food",200.0,10:30am – 9:30pm (Mon-Sun),Kolkata,Park Street Area,No
62,Parantha Pundit,Cuisines:,3.389075,"13, Ho Chi Minh Sarani, Kankaria Estates, Park...","Biryani, North Indian, Chinese",200.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [29]:
# Remove 'votes' from 'voteCount' and convert to float
df['voteCount'] = df['voteCount'].str.replace('Cuisines:', '0')
df['voteCount'] = df['voteCount'].str.replace(' votes', '').astype(float)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7082 entries, 0 to 7081
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7082 non-null   object
 1   voteCount      7082 non-null   float64
 2   rating         7082 non-null   float64
 3   address        7082 non-null   object
 4   cusine         7082 non-null   object
 5   cost           7082 non-null   float64
 6   timing         7082 non-null   object
 7   City           7082 non-null   object
 8   Location       7082 non-null   object
 9   Midnight_Open  7082 non-null   object
dtypes: float64(3), object(7)
memory usage: 553.4+ KB