# Zomato Data Analysis
This notebook is continued after `ZomatoKolDataCleaning.ipynb` in which location column was cleaned

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:


filepath = 'checkpoint3_locations_cleaned.csv'

df = pd.read_csv(filepath)

Visualization

In [5]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7082 entries, 0 to 7081
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       7082 non-null   object
 1   voteCount  7082 non-null   object
 2   rating     7082 non-null   float64
 3   address    7082 non-null   object
 4   cusine     7082 non-null   object
 5   cost       7082 non-null   object
 6   timing     7082 non-null   object
 7   City       7082 non-null   object
 8   Location   7082 non-null   object
dtypes: float64(1), object(8)
memory usage: 498.1+ KB

In [7]:
df['City'].value_counts()

City
Kolkata      6235
Howrah        479
Salt Lake     367
Bangalore       1
Name: count, dtype: int64

## Timing column cleaning

Creating a column called Midnight_Open "Yes" if open "No" if not

In [8]:
df['Midnight_Open'] = df['timing'].str.contains("midnight", case=False, na=False).map({True: 'Yes', False: 'No'})

In [9]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area,No
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area,Yes
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area,Yes
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area,No
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [10]:
# Check if the count of 'Yes' in 'Midnight_Open' column is equal to the count of rows where 'midnight' is present in 'timing'
is_equal = (df['Midnight_Open'] == 'Yes').sum() == df[df['timing'].str.contains("midnight", case=False, na=False)].shape[0]

# Display the result
print(f"Are the counts equal? {is_equal}")

Are the counts equal? True

In [11]:
# Let's check number of midnight restaurants
df['Midnight_Open'].value_counts()

Midnight_Open
No     6413
Yes     669
Name: count, dtype: int64

### Cleaning cost for two

In [12]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area,No
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area,Yes
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area,Yes
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area,No
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [13]:
df['cost'] = df['cost'].str.replace('₹', '')

In [18]:
def handlecomma(value):
    value = str(value)
    if ',' in value:
        value = value.replace(',','')
        return float(value)
    else:
        return float(value)
    
df['cost'] = df['cost'].apply(handlecomma)

In [20]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental",1000.0,11am – 11:20pm (Mon-Sun),Kolkata,Park Street Area,No
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200.0,11am – 12midnight (Mon-Sun),Kolkata,Park Street Area,Yes
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,1000.0,"12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Kolkata,Park Street Area,Yes
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,1800.0,"12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Kolkata,Park Street Area,No
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400.0,7:30am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [27]:
df[df['voteCount']=='Cuisines:'].head()

,name,voteCount,rating,address,cusine,cost,timing,City,Location,Midnight_Open
13,The Kebab Factory,Cuisines:,3.389075,"33, Royd Street, Park Street Area, Kolkata","Chinese, Asian",350.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No
17,Zainab Biryani,Cuisines:,3.389075,"19, Alimuddin Street, Park Street Area, Kolkata","Biryani, North Indian, Mughlai",400.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No
31,Paradise Biryani,Cuisines:,3.389075,"Shop 30 D, Ground Floor, Building Chowringhee ...","Chinese, Fast Food",800.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No
55,Crazy 4 Cakes,Cuisines:,3.389075,"7/1, Russel Street, Park Street Area, Kolkata","Pizza, Fast Food",200.0,10:30am – 9:30pm (Mon-Sun),Kolkata,Park Street Area,No
62,Parantha Pundit,Cuisines:,3.389075,"13, Ho Chi Minh Sarani, Kankaria Estates, Park...","Biryani, North Indian, Chinese",200.0,11am – 11pm (Mon-Sun),Kolkata,Park Street Area,No

In [29]:
# Remove 'votes' from 'voteCount' and convert to float
df['voteCount'] = df['voteCount'].str.replace('Cuisines:', '0')
df['voteCount'] = df['voteCount'].str.replace(' votes', '').astype(float)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7082 entries, 0 to 7081
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7082 non-null   object
 1   voteCount      7082 non-null   float64
 2   rating         7082 non-null   float64
 3   address        7082 non-null   object
 4   cusine         7082 non-null   object
 5   cost           7082 non-null   float64
 6   timing         7082 non-null   object
 7   City           7082 non-null   object
 8   Location       7082 non-null   object
 9   Midnight_Open  7082 non-null   object
dtypes: float64(3), object(7)
memory usage: 553.4+ KB

In [44]:
# Cleaned all the columns 
# Remember a lot of votecounts columns are set to 0 because they were Cuisine:
#df.to_csv('checkpoint4_locations_cleaned.csv',index=False)

In [32]:
# df = pd.read_csv('checkpoint4_locations_cleaned.csv')
df_new = pd.read_csv('Zomato_processed_data.csv')

In [33]:
df_new.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City,Days_Open
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata,Mon-Sun
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun

Most of the days are Mon-Sun
Some Mon-Sat
Some only Mon

Check all the entries one by one to clean all the discripencies

In [45]:
print(df_new['Days_Open'].value_counts()), print(len(df_new['Days_Open'].value_counts()))

Days_Open
Mon-Sun                         6853
Mon-Sat                          151
Mon                              134
Mon-Fri                           76
Mon, Wed, Thu, Fri, Sat, Sun      33
Mon, Tue, Wed, Fri, Sat, Sun      32
Mon-Thu                           24
Mon, Tue, Wed, Thu, Fri, Sun      16
Mon-Tue                           13
Mon, Tue, Wed, Thu, Sat, Sun      11
Mon, Tue, Wed, Thu, Sun            8
Mon, Tue, Thu, Fri, Sat, Sun       7
Mon, Sun                           5
Mon, Wed, Thu, Fri, Sat            3
Mon, Tue, Thu, Fri, Sat            2
Mon, Tue, Wed, Fri                 2
Mon-Wed                            2
Mon, Tue, Sat, Sun                 2
Mon, Wed, Sat, Sun                 1
Mon, Wed, Thu, Fri, Sun            1
Mon, Fri, Sat, Sun                 1
Mon, Tue, Wed, Thu, Fri, Sat       1
Mon, Fri                           1
Mon, Tue, Fri, Sat, Sun            1
Mon, Thu, Fri                      1
Mon, Wed                           1
Mon, Wed, Thu, Fri                 1
Mon, Tue, Thu, Sun                 1
Mon,Tue, Wed, Fri, Sat, Sun        1
Mon, Tue, Wed, Thu, Sat            1
Tue, Wed,Thu, Fri, Sat, Sun        1
Mon, Tue, Thu, Fri                 1
Name: count, dtype: int64
32

(None, None)

## Cleaning days_open column in df_new

In [43]:
# Display timings where days_open is 'Mon'
df_new[df_new['Days_Open'] == 'Mon']['timing'].value_counts()

timing
Closed (Mon),12noon – 10:30pm (Tue-Sun)                  3
Closed (Mon),12noon – 10pm (Tue-Sun)                     3
Closed (Mon),11am – 10pm (Tue-Sun)                       2
Closed (Mon),4pm – 10pm (Tue-Sun)                        2
Closed (Mon),5pm – 11pm (Tue-Sun)                        2
Closed (Mon),8am – 9pm (Tue-Sun)                         2
Closed (Mon),12:30pm – 10pm (Tue-Sun)                    2
Closed (Mon),12:30pm – 11pm (Tue-Sun)                    2
Closed (Mon),11am – 12midnight (Tue-Sun)                 2
Closed (Mon),12noon – 3am (Tue-Sun)                      2
Closed (Mon),12noon – 9pm (Tue-Sun)                      2
Closed (Mon),2pm – 11pm (Tue-Sun)                        2
11:30pm – 12midnight (Mon),11:30am – 12midnight...       1
Closed (Mon),11:30am – 11:30pm (Tue-Sun)                 1
Closed (Mon),2:30pm – 8:30pm (Tue-Sat),8am –...          1
11am – 11:55pm (Mon),11am – 10:30pm...                   1
Closed (Mon),3pm – 10pm (Tue-Sun)                        1
Closed (Mon),12noon – 7pm (Tue-Sun)                      1
6:01am – 12midnight (Mon),6am – 12midnight...            1
Closed (Mon),12noon – 4am (Tue-Sun)                      1
9:04am – 10pm (Mon),9am – 10:59pm (Tue),9am –...         1
Closed (Mon),12noon – 12midnight (Tue-Sun)               1
Closed (Mon),2pm – 10:30pm (Tue-Sun)                     1
7pm – 9:30pm (Mon),7am – 10:30pm (Tue-Sun)               1
1pm – 10:30pm (Mon),9am – 10pm (Tue-Sun)                 1
10am – 4pm (Mon),10am – 11:30pm (Tue-Sun)                1
11am – 11pm (Mon),7am – 11pm (Tue-Sun)                   1
8:30am – 11:16pm (Mon),8:30am – 11pm (Tue-Sun)           1
Closed (Mon),12noon – 8:30pm (Tue-Sun)                   1
Closed (Mon),10:30am – 4pm, 7pm – 12midnight...          1
Closed (Mon),11am – 9pm (Tue-Sun)                        1
12noon – 12midnight (Mon),10am – 12midnight...           1
7:30am – 11pm (Mon),12noon – 12midnight (Tue-Sun)        1
12noon – 11pm (Mon),9am – 11pm (Tue-Sun)                 1
7am – 10pm (Mon),7am – 11pm (Tue-Sun)                    1
11am – 1am (Mon),11am – 3am (Tue-Sun)                    1
Closed (Mon),10am – 10pm (Tue-Sun)                       1
4pm – 10pm (Mon),12noon – 10pm (Tue-Sun)                 1
Closed (Mon),11am – 2pm, 4:30pm – 11pm (Tue-Sun)         1
9:20am – 12midnight (Mon),9am – 12midnight...            1
8am – 9pm (Mon),9am – 9pm (Tue),10am – 9:30pm...         1
Closed (Mon),8am – 10pm (Tue-Sun)                        1
12midnight – 1:01am (Mon),12midnight – 1am...            1
9am – 10pm (Mon),11am – 11pm (Tue-Sun)                   1
Closed (Mon),9am – 9pm (Tue-Sun)                         1
12noon – 11pm (Mon),5pm – 11pm (Tue-Sun)                 1
Closed (Mon),5pm – 11:30pm (Tue-Sun)                     1
11am – 10:30am (Mon),11am – 10:30pm (Tue-Sun)            1
11am – 11pm (Mon),11am – 11:30pm (Tue-Sun)               1
11:29am – 12midnight (Mon),11:30am – 12midnight...       1
Closed (Mon),6pm – 10pm (Tue-Sun)                        1
Closed (Mon),11:30am – 9:30pm (Tue-Sun)                  1
8:35am – 9:30pm (Mon),8:28am – 9:30pm...                 1
Closed (Mon),4pm – 11pm (Tue-Sun)                        1
12noon – 10:30pm (Mon),12noon – 10pm...                  1
Closed (Mon),11:30am – 2:30pm, 6pm – 9:30pm...           1
5pm – 12midnight (Mon),1pm – 12midnight (Tue-Sun)        1
12midnight – 11:01am (Mon),12noon – 11:05pm...           1
12midnight – 2am, 11am – 12midnight (Mon),11am...        1
8:30am – 2pm, 5:30pm – 9pm (Mon),8:30am –...             1
Closed (Mon),12noon – 3pm (Tue),12noon – 10:30pm...      1
1pm – 10:30pm (Mon),12noon – 10:30pm (Tue-Sun)           1
Closed (Mon),12noon – 11pm (Tue, Wed, Fri), 12noon...    1
10am – 3pm (Mon),10am – 3pm, 6pm – 11pm (Tue-Sun)        1
5pm – 11:30pm (Mon),11:30am – 11:30pm (Tue-Sun)          1
11am – 11pm (Mon),11am – 10pm (Tue-Sun)                  1
Closed (Mon),1pm – 11pm (Tue-Sun)                        1
Closed (Mon),11:30am – 9pm (Tue-Sat),7:30am –...         1
Closed (Mon),10am – 2pm, 5pm – 11pm (Tue-Sun)            1
Closed (Mon),11am – 10:30pm (Tue-Sun)                    1
12:15pm – 11:15pm (Mon),11am – 11pm (Tue-Sun)            1
Closed (Mon),12noon – 4pm, 6pm – 11pm (Tue-Sun)          1
12:30pm – 11pm (Mon),11am – 11pm (Tue-Sun)               1
Closed (Mon),2pm – 9pm (Tue-Sun)                         1
Closed (Mon),12:30pm – 10:30pm (Tue-Sun)                 1
Closed (Mon),9am – 10pm (Tue-Sun)                        1
10:01am – 11pm (Mon),10am – 11pm (Tue-Sun)               1
Closed (Mon),6am – 11am, 3pm – 9:30pm...                 1
4pm – 10pm (Mon),11am – 10pm (Tue-Sun)                   1
12:45pm – 3pm, 7pm – 11pm (Mon),12:30pm –...             1
Closed (Mon),8:30am – 12:30pm, 5pm – 10pm (Tue-Sun)      1
Closed (Mon),12noon – 3pm, 6pm – 10pm (Tue-Sun)          1
12:45pm – 3:30pm, 7pm – 11pm (Mon),12:30pm –...          1
11am – 2:30pm, 6pm – 10pm (Mon),9am – 2:30pm...          1
Closed (Mon),11am – 9:30pm (Tue-Sun)                     1
Closed (Mon),12:30pm – 3pm, 7:30pm – 10:30pm...          1
7:30am – 11:30pm (Mon),7:30am – 10:30pm (Tue-Sun)        1
12:30pm – 11:30pm (Mon),12:30pm – 12midnight...          1
Closed (Mon),10am – 6pm (Tue-Sun)                        1
12noon – 11:30pm (Mon),12noon – 12midnight...            1
12noon – 11pm (Mon),10am – 11pm (Tue-Fri),11am...        1
12:30pm – 11pm (Mon),12noon – 11pm (Tue-Sun)             1
12:30pm – 10:30pm (Mon),12noon – 10:30pm (Tue-Sun)       1
Closed (Mon),12noon – 11pm (Tue-Sun)                     1
Closed (Mon),11am – 11pm (Tue-Sun)                       1
Closed (Mon),12noon – 9:30pm (Tue-Sun)                   1
Closed (Mon),12:30pm – 4pm, 6pm – 10:30pm (Tue-Sun)      1
Closed (Mon),12noon – 10:45pm (Tue-Sun)                  1
Closed (Mon),7pm – 2am (Tue-Sun)                         1
8pm – 11pm (Mon),11am – 11pm (Tue-Sun)                   1
5pm – 10:30pm (Mon),7am – 10:30am, 4:30pm –...           1
11:28am – 11pm (Mon),12noon – 11pm (Tue-Sun)             1
Closed (Mon),12:30pm – 11:30pm (Tue-Sun)                 1
10am – 11pm (Mon),8am – 11pm (Tue-Sun)                   1
11am – 10pm (Mon),11am – 11pm (Tue-Sun)                  1
10am – 9:30pm (Mon),10am – 10pm (Tue-Sun)                1
Closed (Mon),12:30pm – 9:30pm (Tue, Thu, Fri, Sat...     1
11am – 10:30pm (Mon),11am – 11pm (Tue-Sun)               1
12noon – 2am (Mon),Closed (Tue),2pm – 2am (Wed-Sun)      1
7am – 12midnight (Mon),7am – 6pm (Tue-Sun)               1
2:30pm – 10:30pm (Mon),12:30pm – 10:30pm...              1
Closed (Mon),6pm – 3am (Tue-Sun)                         1
Closed (Mon),12:30pm – 9pm (Tue-Sun)                     1
11am – 10pm (Mon),11am – 10:30pm (Tue-Sun)               1
Closed (Mon),12:30pm – 9:45pm (Tue-Sun)                  1
12:30pm – 8:29pm, 8:30pm – 11pm (Mon),12:30pm...         1
Closed (Mon),3:30pm – 9:30pm (Tue-Sun)                   1
Closed (Mon),11:30am – 4pm, 7pm – 12midnight...          1
Closed (Mon),12:30pm – 9:30pm (Tue-Sun)                  1
4pm – 9:30pm (Mon),10:30am – 9:30pm (Tue-Sun)            1
Name: count, dtype: int64

In [41]:
pd.set_option('display.max_rows', None)