# Data preparation for Restaurant AI

This data is provided by kaggle. Zomato 2022 Kolkata data

In [1]:
import pandas as pd
import numpy as np

### Function to extract location:

In [1]:
def extract_parts_of_loc(address, index):
    """
    Extracts parts from location

    Args:
        address (string): Takes in the whole string address
        index (int): The index to determine which part of the address to extract.

    Returns:
        str: The extracted location part of the address.

    Example: 
        address = "1, Middleton Row, Near Loreto House, Park Street Area, Kolkata"
        
        overall_location = extract_location(address,-1)
        -> Kolkata

        overall_location = extract_location(address,-2)
        ->Park Street Area
    """
    # Split the address into parts
    address_parts = address.split(', ')

    #print(address_parts)

    if index==-1:
        loc = "".join(address_parts[index:])
    else:
        # Identify the relevant part (e.g., the last two elements)
        loc = "".join(address_parts[index:index+1])
    
    return loc

In [2]:
def extract_location(address):
    # Split the address into parts
    address_parts = address.split(', ')
    
    # Identify the relevant part (e.g., the last two elements)
    relevant_part = ', '.join(address_parts[-2:])
    
    return relevant_part

# Example usage
address = "1, Middleton Row, Near Loreto House, Park Street Area, Kolkata"
overall_location = extract_location(address)
print(overall_location)

Park Street Area, Kolkata

## Import table:

In [4]:
import pandas as pd

# Specify the path to your CSV file
file_path = 'Zkolkata.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

### Visualize
Visualize the top 5 entries

In [5]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun)
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun)
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri..."
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)"
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun)

In [6]:
# Example: Get unique values of a specific column
unique_values_column = df['name'].unique()
unique_values_column[5:20]

array(['KFC', 'Tung Fong', 'Arsalan', 'Kusum Rolls', "Kareem's",
       'WOW! China', 'Golden Spoon', 'BarBQ', 'The Kebab Factory',
       'Patisserie By Franziska', 'The Sixth Sense', 'Food King',
       'Burgrill', 'Zainab Biryani', 'The Crepe Cafe'], dtype=object)

In [7]:
# Apply extract location in top 100 rows
address = df['address']
df['Location'] = address[0:100].apply(extract_location)

In [8]:
# Example: Get unique values of a specific column
unique_values_column = df['name'].unique()
unique_values_column[5:20]

array(['KFC', 'Tung Fong', 'Arsalan', 'Kusum Rolls', "Kareem's",
       'WOW! China', 'Golden Spoon', 'BarBQ', 'The Kebab Factory',
       'Patisserie By Franziska', 'The Sixth Sense', 'Food King',
       'Burgrill', 'Zainab Biryani', 'The Crepe Cafe'], dtype=object)

In [9]:
# Convert 'address' column to strings
df['address'] = df['address'].astype(str)

### Adding another column called Location
Adding another column called location which will contain the area not exact address of the restaurent

In [10]:
# Specify the chunk size
chunk_size = 100

# Create an empty 'Location' column
df['Location'] = ''

# Loop through chunks
for i in range(0, len(df['address']), chunk_size):
    chunk_addresses = df['address'].iloc[i:i + chunk_size]
    
    # Apply the extract_location function to the chunk and assign values to the 'Location' column
    df.loc[i:i + chunk_size - 1, 'Location'] = chunk_addresses.apply(extract_location)

In [11]:
# Visualize data
starting_index = 1000
df[starting_index:starting_index+5]

,name,voteCount,rating,address,cusine,cost,timing,Location
1000,The Anchorage Bar - The Floatel Hotel,53 votes,3.3,"9/10, Floatel, Kolkata Jetty, Strand Road, Dal...","North Indian, Mughlai, Chinese","₹2,000",1pm – 11pm (Mon-Sun),"Dalhousie BBD Bagh, Kolkata"
1001,All Day Dinning,Cuisines:,NEW,"20B, Paddapukur Road, Bhawanipur, Kolkata","North Indian, Mughlai, Chinese",₹900,8:30am – 11pm (Mon-Sun),"Bhawanipur, Kolkata"
1002,Cakerica,12 votes,3.3,"37A, Justice Chandra Madhab Road, Bhawanipur, ...",South Indian,₹100,9am – 9pm (Mon-Sun),"Bhawanipur, Kolkata"
1003,Mughal Garden Restaurant,204 votes,3.8,"10, Kiran Shankar Roy Road, Near Millenium Par...",South Indian,₹400,11am – 11pm (Mon-Sun),"Dalhousie BBD Bagh, Kolkata"
1004,The Bengal Ghorana,Cuisines:,-,"1/3A, Rammoy Road, Near Health Point Nursing H...","Rolls, Chinese","₹2,000",24 Hours (Mon-Sun),"Bhowanipore, Kolkata"

## Analyzing rating column and cleaning
Analyzing the rating column and replacing the null entries

In [12]:
# Assuming df is your DataFrame and 'ratings' is the column containing ratings
unique_ratings = df['rating'].unique()

# Display the unique ratings
print("Unique Ratings:", unique_ratings)

Unique Ratings: ['4.2' '4.9' '4.4' '4.6' '4.1' '4.3' '4.0' '3.8' '3.6' 'NEW' nan '3.3'
 '3.7' '3.9' '3.5' '3.2' '3.1' '3.0' '2.9' '-' '3.4' '2.3' '4.5' '2.8'
 '4.7' '2.7' '2.6' '2.5' '2.1' '4.8' '2.4' '2.2' '1.9' '2.0']

Replace `NEW` and `-` ratings with `0` and `nan` with `-1`

In [13]:
# Assuming df is your DataFrame
# Replace 'NEW' with '0' and 'nan' with '-1' in the entire DataFrame
df.replace({'NEW': '0', np.nan: '-1', '-': '0'}, inplace=True)

# Now, the 'ratings' column should only contain numeric strings, and you can proceed with sorting
# Assuming 'ratings' is the column containing ratings
df['rating'] = df['rating'].astype(float)

In [14]:
# Sort the DataFrame based on the 'ratings' column
#df.sort_values(by='rating', inplace=True)

# Display the DataFrame
df

,name,voteCount,rating,address,cusine,cost,timing,Location
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),"Park Street Area, Kolkata"
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),"Park Street Area, Kolkata"
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...","Park Street Area, Kolkata"
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)","Park Street Area, Kolkata"
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),"Park Street Area, Kolkata"
...,...,...,...,...,...,...,...,...
7383,WOW! ARBA,Cuisines:,0.0,Delivery Only,"Chinese, Fast Food",₹150,11am – 11pm (Mon-Sun),Delivery Only
7384,Renu's,50 votes,2.8,"89/109, Vivekananda Road, Bangur Park, Hooghly...",Bengali,₹350,11am – 11pm (Mon-Sun),"Rishra, Kolkata"
7385,The Food Place,Cuisines:,0.0,"119, Ramkrishna Road, Radhashree, Landmark- Ai...",Bengali,₹150,8am – 11:45pm (Mon-Sun),"Dum Dum, Kolkata"
7386,New Dalma Restaurant,Cuisines:,0.0,Delivery Only,Chinese,₹250,12noon – 10:30pm (Mon-Sun),Delivery Only
7387,Baanerjee Cabin,Cuisines:,0.0,"89, Nripen Sarkar Road, Sahapukur, Sreedurga C...",Chinese,₹200,10am – 11pm (Mon-Sun),"Kalyani, Kolkata"

In [15]:
df[5000:5005]

,name,voteCount,rating,address,cusine,cost,timing,Location
5000,Al Zaffran,88 votes,3.3,"D/1/5, Santoshpur Station Road, Tara Tala, Kol...","Chinese, Mughlai",₹500,11:30am – 10:30pm (Mon-Sun),"Tara Tala, Kolkata"
5001,The Kitchen,420 votes,4.0,"P-188, Block-B, Lake Town, Kolkata","Chinese, Mughlai",₹900,12noon – 11pm (Mon-Sun),"Lake Town, Kolkata"
5002,Foodizm,149 votes,3.5,"262, B.T Road, Tobin Road Crossing, Baranagar,...","South Indian, Street Food",₹500,12noon – 10pm (Mon-Sun),"Baranagar, Kolkata"
5003,Mehek-E-Dawat,117 votes,3.1,"59B, Becharam Chatterjee Road, State Bank Colo...","South Indian, Street Food",₹400,12noon – 10:30pm (Mon-Sun),"Behala, Kolkata"
5004,Hot Spot,38 votes,3.3,"Dum Dum Park Bazar, Near Mother Dairy, Dum Dum...",Chinese,₹300,12:30pm – 10pm (Mon-Sun),"Dum Dum, Kolkata"

## Analyzing unique locations

In [16]:
# Assuming df is your DataFrame and 'ratings' is the column containing ratings
unique_loc = df['Location'].unique()

# Display the unique ratings
print("Unique Locations:", unique_loc)

Unique Locations: ['Park Street Area, Kolkata' 'New Market Area, Kolkata'
 'Russel Street Area, Kolkata' 'Ripon Street, Kolkata' 'Delivery Only'
 ' Park Street Area, Kolkata' 'Near Park Circus Area, Kolkata'
 'Mirza Ghalib Street Park Street Area, Kolkata'
 'Park Circus Area, Kolkata' 'Wellesley, Kolkata'
 'Camac Street Area, Kolkata' 'Elgin, Kolkata' 'Entally, Kolkata'
 'Loudon Street Area, Kolkata' 'Theatre Road, Kolkata'
 'Esplanade, Kolkata' 'Minto Park, Kolkata' 'Chowringhee, Kolkata'
 'Taltala, Kolkata' '43B ripon street Kolkata'
 'Beck Bagan Park Circus Area, Kolkata'
 'IDBI Bank Building, New Market Area Kolkata' 'Near Elgin, Kolkata'
 'Camac Street, Kolkata' '18, Hemanta Basu Sarani kolkata' 'nan'
 'Nandalal Basu Sarani, Kolkata' 'Lord Sinha Road Elgin, Kolkata'
 '\n Taltala, Kolkata' 'Circus Avenue Park Circus Area, Kolkata'
 'Near Entally, Kolkata' 'Ballygunge, Kolkata' 'Bhawanipur, Kolkata'
 'Paddapukur, Kolkata' 'Sealdah Area, Kolkata' 'Chandni Chowk, Kolkata'
 'Bara Bazar, Kolkata' 'Kankurgachi, Kolkata'
 'Dalhousie BBD Bagh, Kolkata' 'Bhowanipore, Kolkata' 'Bow Bazar, Kolkata'
 'Harish Mukherjee Road Bhawanipur, Kolkata'
 'Chandni Chowk Street, Kolkata' 'Hatibagan, Kolkata'
 'Jodhpur Park, Kolkata' 'Bhawanipore, Kolkata' 'Tangra, Kolkata'
 'Padupukur, Kolkata' 'Dalhouise BBD Bagh, Kolkata' 'New Town, Kolkata'
 'Paddapukur, Kolkata\nNear hotel Aston.. \nopp to Laxmi narayan mandir.'
 'College Street, Kolkata' 'Paddapukur, Hotel Mangalam'
 '41A justice Chandra Madhab road Kolkata 700020' 'Salt Lake, Kolkata'
 'Bow Bazaar, Kolkata' 'Falta, Kolkata' 'New Alipore, Kolkata'
 'Gariahat, Kolkata' 'Kidderpore, Kolkata' 'Ruby Hospital Area, Kolkata'
 'Picnic Garden, Kolkata' 'Shibpur, Howrah' 'Science City Area, Kolkata'
 'Dhakuria, Kolkata' 'Tollygunge, Kolkata' 'Kalighat, Kolkata'
 'Lake Gardens, Kolkata' 'Maniktala, Kolkata' 'Topsia, Kolkata'
 'Golpark, Kolkata' 'Southern Avenue, Kolkata' 'Girish Park, Kolkata'
 'Shyam Bazar, Kolkata' 'Beliaghata, Kolkata' 'Salt Lake City, Kolkata'
 'Lake Town, Kolkata' 'Sector 1, Salt Lake'
 'Prince Anwar Shah Road, Kolkata' 'Kadamtala, Howrah'
 'Howrah Maidan Area, Howrah' 'Behala, Kolkata' 'Kasba, Kolkata'
 'Hazra, Kolkata' 'Desapriya Park, Kolkata' 'Jadavpur, Kolkata'
 'Tara Tala, Kolkata' 'Lake Market Area, Kolkata'
 'Near Ballygunge, Kolkata' 'Santoshpur, Kolkata'
 'Hindustan Park, Kolkata' 'Liluah, Howrah'
 'Mechua Bazar, Bara Bazar,Kolkata' 'Shobha Bazar, Kolkata'
 'Desapriya Park, kolkata'
 'Kasba Industrial Estate,Behind Ruby Hospital Area, Kolkata'
 'Salkia, Howrah' 'Howrah Station Area, Howrah' 'Kalikapur, Kolkata'
 'Dobson Road, Howrah' 'Golf Green, Kolkata' 'Ultadanga, Kolkata'
 'Andul Road, Howrah' 'Near Andul Road, Howrah' 'Kona Exp Way, Howrah'
 'Near Girish Park, Kolkata' 'GT Road, Howrah' 'Alipore, Kolkata'
 'Paikpara, Kolkata' 'Shalimar, Howrah' 'Near Shibpur, Howrah'
 'Dobson Road, Kolkata' 'Ichapur, Howrah' 'Garia, Kolkata'
 'Near Singh Builders, Picnic Garden. Kolkata' 'Hindustan Road, Kolkata'
 'Near Howrah Station Area, Howrah' 'Parnasree Palli, Kolkata'
 'Lake garden, Kolkata' 'Near Kidderpore, Kolkata'
 '43/1/1 Bholanath Nandi Lane  Kona Expressway Crossing, Belepole'
 'Baghajatin, Kolkata' 'Picnic\n\n Garden, Kolkata' 'Howrah, Kolkata'
 'taltalla, Kolkata' '187, Sarat Bose Road'
 'Howrah Chunabati More, Andul Road' 'Desapriya Park - West, Kolkata'
 'Near Dhakuria, Kolkata' ' College Street, Kolkata'
 '62/2 Andul Road, Howrah' 'Dum Dum, Kolkata' 'Scheme VIIM, Kankurgachi'
 'Machuabazar, Kolkata' 'Chinar Park, Kolkata' 'Kankurgachi, Kolkata,'
 'Navapalli,Kasba, Kolkata' 'Naktala, Kolkata' 'Sealdah, Kolkata'
 'Despriya Park, Kolkata' 'Sector 4, Salt Lake'
 '40a Ballygunge Place, Kolkata' 'Near Ruby Hospital Area, Kolkata'
 '17/1 F, Alipore Road' 'Charaktola Behala, Kolkata' 'Pukur, Dhakuriya'
 'Hati Bagan, Kolkata' 'Kona Exp Way, Kolkata' 'Sector 3, Salt Lake'
 'Nutan Bazar, Kolkata' 'Chittaranjan Avenue, Kolkata'
 'Manicktala, Kolkata' 'Belur, Howrah' 'Beleghata, Kolkata'
 'Near Lake Town, Kolkata' 'Prince Anwer Shah Road, Kolkata'
 'Kolkata, West Bengal' 'Jadavpur, Kolkata.' 'Fazir Bazar Shibpur, Howrah'
 'Ambedkar Sarani, Tospia Road' 'Tollygunge, Kolkata,'
 'Kalikapur Road, Kolkata' 'Bali, Howrah' 'Ballygunge, Koata'
 ' Jodhpur Park, Kolkata' 'Near Picnic Garden, Kolkata'
 'Swinehoe Lane Kasba, Kolkata' 'Phool Bagan, Kolkata Crossing Kolkata'
 'Near Phulbagan Masjid, Kolkata' 'Chetla, Kolkata' 'Salt Lake, Kolkata.'
 'Near Tollygunge, Kolkata' 'Lake View Road, Southern Avenue'
 'NearTollygunge, Kolkata' 'Khardah, Kolkata'
 'Andul Road, Howrah Near Chaitali More' 'Howrah Maiden Area, Howrah'
 'Sinthi, Kolkata' 'Shantipally Kasba, Kolkata' 'Bally, Howrah'
 'Ajoy Nagar, Kolkata' 'Near Howrah Maidan Area, Howrah'
 'Bandhaghat, Salkia Kolkata' 'Ashoknagar, Tollygunge'
 'Near Laxmi Narayan Mandir, Kasba' '375 Prince Anwar Shah Road, Kolkata'
 '530A Jodhpur Park, Kolkata' 'Beliaghata Road, Kolkata'
 'Near Kalikapur, Kolkata' ' Kankurgachi, Kolkata' 'Thakur Pukur, Kolkata'
 'Deshapriya Park, Kolkata' 'Beliaghata Main Road Beliaghata, Kolkata'
 'Das Naagar, Howrah' 'Near Salkia, Howrah' 'WARD NO 068, Kolkata'
 'Sodepur, Kolkata' 'Nagerbazar, Kolkata' 'Sector 5, Salt Lake'
 'Baguihati, Kolkata' 'Kestopur, Kolkata' 'Serampore, Kolkata'
 'Kaikhali, Kolkata' 'Baranagar, Kolkata' 'Belghoria, Kolkata'
 'Barasat, Kolkata' 'Bangur, Kolkata' 'Narendra Pur, Kolkata'
 'Near Dum Dum, Kolkata' 'Kalyani, Kolkata' 'Barrackpore, Kolkata'
 'Konnagar, Kolkata' 'Near Ajoy Nagar, Kolkata' 'Joka, Kolkata'
 'Chandannagar, Kolkata' 'Uttarpara, Kolkata' 'Newtown, Kolkata'
 'Rishra, Kolkata' 'Sonarpur, Kolkata'
 'Barrackpore Station  Near 1 Number  Platform' 'Chinsura, Kolkata'
 'Bhagjatin, Kolkata' 'Near Sodepur, Kolkata' 'Near Behala, Kolkata'
 'Dum Dum, Kolkata-700028' 'Sector 2, Salt Lake'
 'Near Nagerbazar, Kolkata' 'Near Barasat, Kolkata'
 'A-1/2(S) Kalyani, Kolkata' 'Near Baguihati, Kolkata'
 'Hindmotor, Kolkata' 'Near Narendra Pur, Kolkata' 'Newtown, Rajarhat'
 'Beside Dunlop Bridge Mini Bus Stand, Baranagar'
 'Near Belghoria, Kolkata' 'Near Naktala, Kolkata'
 'Morepukur Rishra, Kolkata' 'Bireshpalli, Kolkata'
 'Near New Town, Kolkata' 'Kamarhati Municipality Belghoria, Kolkata'
 'Baguiati, Kolkata' 'Rajarhat, Kolkata' 'Near Chandannagar, Kolkata'
 'Kalindi, Kolkata' 'Netaji Nagar, Tollygunge Kolkata'
 'Near Kalyani, Kolkata' 'Unitech Gate 1 New Town, Kolkata'
 'Near Uttarpara, Kolkata' 'Rishra, kolkata' 'DF Block New Town, Kolkata'
 'Belur Math, Howrah' 'Avani Oxford, Kolkata' 'Kolkata, Kolkata'
 'New Town, Kolkara' 'Chinar Park, opp Spencer and beside Arsanal.'
 'Parganas Baranagar, Kolkata' ' Garia, Kolkata' 'Near Kaikhali, Kolkata'
 'Near Rishra Municipal Office Rishra, Kolkata'
 'North Twenty Four Parganas Dum Dum, Kolkata'
 'Kudghat Bazar,Tollygunge, Kolkata'
 'Near By Sabitri Apartment Baguihati, Kolkata' 'Narendrapur, Kolkata'
 'Baguhati, Kolkata' 'NK Banerjee Road Rishra, Kolkata'
 'Saheb Para Sodepur, Kolkata'
 '28 Laldhiger dhar opp Jagadhatri Gaurage..Chandannaga 712136'
 'Madhyamgram, Barasat' 'South Dum Dum, Kolkata' 'Behala, Kolkata,'
 'HC Dutta Road, Sodepur Kolkata' 'Mandir Gate, Kolkata'
 'N.S.C Bose Road,Tollygunge, Kolkata'
 '126 H.L Sarkar Road Post Banshdroni Thana Garia, Kolkata'
 'khardah, Kolkata' 'Hooghly, Kolkata' 'Ecospace New Town, Kolkata'
 'Chinsurah, Kolkata' 'Nadia, Kolkata'
 'Sunny Dew Apartment Garia, Kolkata' 'Newtown, kolkata'
 'East Rajapur Santoshpur, Kolkata' 'Kanchrapara, West Bengal'
 'Near Sinthi, Kolkata' 'Near Belur, Howrah' 'Near Keya More, Sodepur'
 'Belur, Kolkata' 'Dakshin Behala Road, Behala' 'Birati, Kolkata'
 'Baishnabghata Patuli Connector, Garia'
 'Level Crossing Road,Baksara Bazar, Santragachi,Kolkata'
 'Near Naktala Post Office, Kolkata'
 'Thakdari Main Road, Newtown Action Area 1C' 'Khardah, kolkata'
 'Action Area IIC, Newtown' 'Near Autostand Nagerbazar, Kolkata'
 'Metiabruz, Kolkata' 'Kolkata Municipal Corporation, Kolkata'
 'Belgharia, Kolkata' 'Dankuni, Hoogly'
 'Bahattacharjee Serampore, Kolkata' 'Thakur Pukur Bazar, Kolkata'
 'Madhyamgram, Kolkata' 'Kona Express Way, Howrah'
 'Shop No. 32, A-2 Wholesale Market' 'A1/15 Kalyani, Kolkata'
 'Rajarhat New Town, Kolkata' 'Near Garia, Kolkata'
 'Near Barrackpore, Kolkata' 'NS Avenue Serampore, Kolkata'
 'Near Post Office Ichapur, Howrah'
 'Post Jadavpur University Baghajatin, Kolkata' 'Near Tara Tala, Kolkata'
 'Paschim Barisha, Behala Kolkata' 'New Town, kolkata' 'Kolkata, 700144'
 'Near Thakur Pukur, Kolkata' 'Konnagar, Bangalore' '14A Dum Dum, Kolkata'
 'Near Jyoti Cinema, Chandannagar' 'Station Road Serampore, Kolkata'
 'A Block Santoshpur, Kolkata' 'Near Swagatam Sangha Club, Kestopur'
 'Dum Dum Road, Kolkata']

### Splitting Location
Column location needs to be split into two parts City and location

I have created a helper function called `extract_part_of_loc` it can be used to extract parts of location

In [17]:
# Update the 'City' column with values
for i in range(len(df)):
    df.loc[i, 'City'] = extract_parts_of_loc(df.loc[i, 'address'], -1)

In [18]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),"Park Street Area, Kolkata",Kolkata
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),"Park Street Area, Kolkata",Kolkata
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...","Park Street Area, Kolkata",Kolkata
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)","Park Street Area, Kolkata",Kolkata
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun),"Park Street Area, Kolkata",Kolkata

Removing City names after commas from Location column

In [19]:
# Update the 'Location' column with values
for i in range(len(df)):
    df.loc[i, 'Location'] = extract_parts_of_loc(df.loc[i, 'address'], -2)

In [20]:
df[5000:5005]

,name,voteCount,rating,address,cusine,cost,timing,Location,City
5000,Al Zaffran,88 votes,3.3,"D/1/5, Santoshpur Station Road, Tara Tala, Kol...","Chinese, Mughlai",₹500,11:30am – 10:30pm (Mon-Sun),Tara Tala,Kolkata
5001,The Kitchen,420 votes,4.0,"P-188, Block-B, Lake Town, Kolkata","Chinese, Mughlai",₹900,12noon – 11pm (Mon-Sun),Lake Town,Kolkata
5002,Foodizm,149 votes,3.5,"262, B.T Road, Tobin Road Crossing, Baranagar,...","South Indian, Street Food",₹500,12noon – 10pm (Mon-Sun),Baranagar,Kolkata
5003,Mehek-E-Dawat,117 votes,3.1,"59B, Becharam Chatterjee Road, State Bank Colo...","South Indian, Street Food",₹400,12noon – 10:30pm (Mon-Sun),Behala,Kolkata
5004,Hot Spot,38 votes,3.3,"Dum Dum Park Bazar, Near Mother Dairy, Dum Dum...",Chinese,₹300,12:30pm – 10pm (Mon-Sun),Dum Dum,Kolkata

### VoteCount field
Cleaning the unneccesary stuff present in voteCount column

In [21]:
# Remove 'votes' from the 'voteCount' column
df['voteCount'] = df['voteCount'].str.replace(' votes', '')

# Display the DataFrame
df[5000:5005]

,name,voteCount,rating,address,cusine,cost,timing,Location,City
5000,Al Zaffran,88,3.3,"D/1/5, Santoshpur Station Road, Tara Tala, Kol...","Chinese, Mughlai",₹500,11:30am – 10:30pm (Mon-Sun),Tara Tala,Kolkata
5001,The Kitchen,420,4.0,"P-188, Block-B, Lake Town, Kolkata","Chinese, Mughlai",₹900,12noon – 11pm (Mon-Sun),Lake Town,Kolkata
5002,Foodizm,149,3.5,"262, B.T Road, Tobin Road Crossing, Baranagar,...","South Indian, Street Food",₹500,12noon – 10pm (Mon-Sun),Baranagar,Kolkata
5003,Mehek-E-Dawat,117,3.1,"59B, Becharam Chatterjee Road, State Bank Colo...","South Indian, Street Food",₹400,12noon – 10:30pm (Mon-Sun),Behala,Kolkata
5004,Hot Spot,38,3.3,"Dum Dum Park Bazar, Near Mother Dairy, Dum Dum...",Chinese,₹300,12:30pm – 10pm (Mon-Sun),Dum Dum,Kolkata

In [22]:
# Remove '₹' from the 'cost' column
df['cost'] = df['cost'].str.replace('₹', '')

# Display the DataFrame
df[5000:5005]

,name,voteCount,rating,address,cusine,cost,timing,Location,City
5000,Al Zaffran,88,3.3,"D/1/5, Santoshpur Station Road, Tara Tala, Kol...","Chinese, Mughlai",500,11:30am – 10:30pm (Mon-Sun),Tara Tala,Kolkata
5001,The Kitchen,420,4.0,"P-188, Block-B, Lake Town, Kolkata","Chinese, Mughlai",900,12noon – 11pm (Mon-Sun),Lake Town,Kolkata
5002,Foodizm,149,3.5,"262, B.T Road, Tobin Road Crossing, Baranagar,...","South Indian, Street Food",500,12noon – 10pm (Mon-Sun),Baranagar,Kolkata
5003,Mehek-E-Dawat,117,3.1,"59B, Becharam Chatterjee Road, State Bank Colo...","South Indian, Street Food",400,12noon – 10:30pm (Mon-Sun),Behala,Kolkata
5004,Hot Spot,38,3.3,"Dum Dum Park Bazar, Near Mother Dairy, Dum Dum...",Chinese,300,12:30pm – 10pm (Mon-Sun),Dum Dum,Kolkata

In [23]:
# Assuming df is your processed DataFrame
#df.to_csv('Zomato_processed_data.csv', index=False)

In [24]:
# Assuming df is your DataFrame and 'ratings' is the column containing ratings
unique_loc = df['Location'].unique()
len(unique_loc)

# Assuming df is your DataFrame and 'ratings' is the column containing ratings
unique_add = df['address'].unique()
len(unique_loc), len(unique_add)

(294, 6927)

In [25]:
df

,name,voteCount,rating,address,cusine,cost,timing,Location,City
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata
...,...,...,...,...,...,...,...,...,...
7383,WOW! ARBA,Cuisines:,0.0,Delivery Only,"Chinese, Fast Food",150,11am – 11pm (Mon-Sun),,Delivery Only
7384,Renu's,50,2.8,"89/109, Vivekananda Road, Bangur Park, Hooghly...",Bengali,350,11am – 11pm (Mon-Sun),Rishra,Kolkata
7385,The Food Place,Cuisines:,0.0,"119, Ramkrishna Road, Radhashree, Landmark- Ai...",Bengali,150,8am – 11:45pm (Mon-Sun),Dum Dum,Kolkata
7386,New Dalma Restaurant,Cuisines:,0.0,Delivery Only,Chinese,250,12noon – 10:30pm (Mon-Sun),,Delivery Only
7387,Baanerjee Cabin,Cuisines:,0.0,"89, Nripen Sarkar Road, Sahapukur, Sreedurga C...",Chinese,200,10am – 11pm (Mon-Sun),Kalyani,Kolkata

In [79]:
# Specify the path to your CSV file
file_path = 'Zomato_processed_data.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

In [80]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata

In [26]:
# import re

# def extract_parts_of_timing(timing, part):
#     """
#     Extracts parts from timing

#     Args:
#         timing (string): Takes in the whole timing string
#         part (str): 'time' or 'days', specifies which part to extract.

#     Returns:
#         str: The extracted time or days part.

#     Example:
#         timing = "11am – 11:20pm (Mon-Sun)"
        
#         time_part = extract_parts_of_timing(timing, 'time')
#         -> "11am – 11:20pm"

#         days_part = extract_parts_of_timing(timing, 'days')
#         -> "Mon-Sun"
#     """
#     # Extracting time
#     if part == 'time':
#         time_match = re.search(r'\d+:\d+\w{0,2}\s*–\s*\d+:\d+\w{0,2}', timing)
#         return time_match.group() if time_match else None
#     # Extracting days
#     elif part == 'days':
#         days_match = re.search(r'\((.*?)\)', timing)
#         return days_match.group(1) if days_match else None
#     else:
#         return None

In [27]:
# # Applying the function to create new columns
# df['time'] = df['timing'].apply(lambda x: extract_parts_of_timing(x, 'time'))
# df['Days_open'] = df['timing'].apply(lambda x: extract_parts_of_timing(x, 'days'))

# # Drop the original 'timing' column if needed
# # df = df.drop('timing', axis=1)

# # Display the modified DataFrame
# #print(df[['name', 'time', 'Days_open']])

In [81]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata

In [82]:
import re

def extract_days_open(timing):
    """
    Extracts content inside simple brackets and returns it.

    Args:
        timing (string): Takes in the whole timing string.

    Returns:
        str: The extracted content inside simple brackets.

    Example:
        timing = "11am – 11:20pm (Mon-Sun)"
        
        days_open = extract_days_open(timing)
        -> "Mon-Sun"
    """
    # Try to match content inside simple brackets
    days_open_match = re.search(r'\((.*?)\)', timing)
    return days_open_match.group(1) if days_open_match else None

In [83]:
# Applying the function to create the 'Days_Open' column
df['Days_Open'] = df['timing'].apply(extract_days_open)

# Display the modified DataFrame
df.head(20)

,name,voteCount,rating,address,cusine,cost,timing,Location,City,Days_Open
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata,None
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
5,KFC,2135,4.1,"20K, Park Street, Park Street Area, Kolkata","Chinese, North Indian, Continental",450,11am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
6,Tung Fong,3644,4.3,"25 B, Ground Floor, Karnani Mansion, Free Scho...","North Indian, Chinese, Kebab, BBQ","1,000","12noon – 4pm, 6pm – 11pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
7,Arsalan,1500,4.0,"119 A, Muzaffar Ahmed Street, Mirza Ghalib Str...","North Indian, Chinese, Kebab, BBQ","1,000",11am – 11:45pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
8,Kusum Rolls,1973,4.1,"21, Karnani Mansion, Park Street Area, Kolkata","Bakery, Desserts, Sandwich",300,12noon – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
9,Kareem's,1027,4.3,"55 B, Mirza Ghalib Street, Park Street Area, K...","Bakery, Desserts, Sandwich","1,200","12:30pm – 4:30pm, 6:30pm – 11:30pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
10,WOW! China,53,3.8,"19-57, Park Street Area, Kolkata","Fast Food, Burger",650,12noon – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
11,Golden Spoon,1000,3.6,"1, Middleton Row, Near Loreto House, Park Stre...","Fast Food, Burger",600,12noon – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
12,BarBQ,8321,4.3,"43-47-55, Park Street Area, Kolkata","Chinese, Asian","1,200",12noon – 11:15pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
13,The Kebab Factory,Cuisines:,0.0,"33, Royd Street, Park Street Area, Kolkata","Chinese, Asian",350,11am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
14,Patisserie By Franziska,Cuisines:,-1.0,"13C, Russell Street, Opposite Bengal Club, Par...","Mughlai, North Indian, Rolls, Biryani",450,-1,Park Street Area,Kolkata,None
15,The Sixth Sense,92,4.0,"25B, Karnani Mansion, Opposite Westside, Park ...","Mughlai, North Indian, Rolls, Biryani","1,500","12noon – 12midnight (Mon-Thu),12noon – 2am...",Park Street Area,Kolkata,Mon-Thu
16,Food King,23,3.3,"90/1, Ground Floor, Muzaffar Ahmed Street, War...",Rolls,300,12noon – 11:30pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
17,Burgrill,888,4.2,"12B/2, Park Street Park, Opposite Oxford Book ...",Rolls,500,11am – 2am (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
18,Zainab Biryani,Cuisines:,0.0,"19, Alimuddin Street, Park Street Area, Kolkata","Biryani, North Indian, Mughlai",400,11am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
19,The Crepe Cafe,81,4.4,"6/1A, Middleton Street, Park Street Area, Kolkata","Biryani, North Indian, Mughlai",800,10:30am – 10:30pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun

In [84]:
filtered_rows = df[(df['Days_Open'].isnull()) & (df['timing'] != '-1')][['name', 'Days_Open', 'timing']]
print(filtered_rows)

len(df[(df['Days_Open'].isnull()) & (df['timing'] != '-1')][['name','Days_Open', 'timing']])

                                         name Days_Open  \
2                                  Carpe Diem      None
169                         The Chicken House      None
182                                    Zaranj      None
298                    Olive - Hotel Niharika      None
790                                  Tung Nam      None
899              7/12 Fried Ice Cream Parlour      None
916                                  Chin Wah      None
1079  ITC Royal Bengal- Grand Market Pavilion      None
1087                              Level Seven      None
1570                        New Royal Biryani      None
1578                            Keyar Henshel      None
1743                           Rajendra Hotel      None
1818                          Zeehan Cuisines      None
2321                      Jawed Biryani House      None
2457                            Tawa Tamancha      None
2477                                Swadkahon      None
2509                             Hot Flavours      None
2778                            Mom'z Kitchen      None
2940                        Swagat Restaurant      None
2966                  Cafe-De-Luxe Restaurant      None
3964                                Combo.Com      None
4001                  SGF - Spice Grill Flame      None
4026                           Awadhi Biryani      None
4153                  Royal's Biryani & Kebab      None
4498                             Haji Biryani      None
4590          Blue And Sky Rooftop Restaurant      None
5040                               Food Story      None
5245                                 Flavours      None
5362                    Maa Ka Haath Ka Khana      None
5417                       Dolly's Hungry Pot      None
6058                            Boithak-Khana      None
6327         The Courtyard -Raichak on Ganges      None
6528                               Bong Mania      None
6600                            Chocolate Hut      None
6761                              The Cloud 9      None
6892                            Ganpati Foods      None

                                                 timing
2       12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...
169   12midnight – 3:30am, 12:01pm – 12midnight (Mon...
182   12noon – 3pm, 7:30pm – 11pm (Mon, Wed, Thu, Fr...
298    7:30am – 10:30am, 12noon – 3pm, 7pm – 10:30pm...
790     12noon – 3pm, 6pm – 10pm (Mon, Wed, Thu, Fri...
899           12midnight – 4am, 11:56am – 12midnight...
916   11am – 3pm, 6pm – 10pm (Mon, Wed, Thu, Fri, Sa...
1079  7am – 10:45am, 12:30pm – 2:45pm, 7:30pm – 11pm...
1087    12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...
1570    12noon – 12midnight (Mon, Tue, Wed, Thu, Sat...
1578    12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...
1743         12midnight – 12:45am, 11am – 12midnight...
1818    12noon – 12midnight (Mon, Tue, Wed, Thu, Sat...
2321   12:30pm – 12midnight (Mon, Tue, Wed, Thu, Sat...
2457  8am – 3pm, 7pm – 11pm (Mon, Tue, Wed, Fri, Sat...
2477   11am – 2pm, 7pm – 10:30pm (Mon, Tue, Wed, Fri...
2509     11:30am – 3pm, 5pm – 10:30pm (Mon, Wed, Thu...
2778     12midnight – 12:15am, 8am – 12midnight (Mon...
2940    12noon – 12midnight (Mon, Tue, Wed, Fri, Sat...
2966  9am – 12noon, 2pm – 9:30pm (Mon, Tue, Wed, Fri...
3964               12noon – 3:30pm, 5:30pm – 11:30pm...
4001          12midnight – 4am, 12:01pm – 12midnight...
4026    12noon – 12midnight (Mon, Wed, Thu, Fri, Sat...
4153    12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...
4498    12noon – 12midnight (Mon, Wed, Thu, Fri, Sat...
4590      7:30am – 10:30am, 1pm – 3pm, 6pm – 10:30pm...
5040                7:30am – 1:30pm, 4:30pm – 9:30pm...
5245  1pm – 3pm, 5pm – 10pm (Mon, Tue, Wed, Fri, Sat...
5362   8:30am – 11am, 11:30am – 3pm, 7pm – 10pm (Mon...
5417   11:30am – 3pm, 5:30pm – 9:30pm (Mon, Tue, Thu...
6058    8am – 2pm, 5pm – 11:30pm (Mon, Tue, Thu, Fri...
6327       7:30am – 10:30am, 12:30pm – 3pm, 7:30pm –...
6528   11am – 3pm, 6pm – 10:30pm (Mon, Tue, Thu, Fri...
6600  10am – 2pm, 6pm – 11pm (Mon, Tue, Wed, Fri, Sa...
6761   12midnight – 3am, 11am – 12midnight (Mon, Tue...
6892   7:30am – 2:30pm, 5:30pm – 11pm (Mon, Tue, Wed...

36

As we can see there are 36 entries whose dates not added so we need to add them manually

### Date schedule of restaurants
* 790 - Tue closed
* 916 - Tue closed
* 1578 - null
* 1743 - null
* 1818 - null
* 2477 - null
* 2966 - Thu closed
* 3964, 4001, 4026 - null
* 5417 - Sun closed
* 6058 - Wed Closed
* 6528 - null


Rest open everyday

In [88]:
# Setting all the columns Mon-Sun in 36 columns
df.loc[df['Days_Open'].isnull(), 'Days_Open'] = 'Mon-Sun'
df[789:791]

,name,voteCount,rating,address,cusine,cost,timing,Location,City,Days_Open
789,Anand Restaurant,1343,4.1,"19, C.R. Avenue, Near Dalhousie Square Area, C...","North Indian, Chinese, Bengali",500,"11am – 10pm (Mon, Tue, Thu, Fri, Sat), Closed...",Chandni Chowk,Kolkata,"Mon, Tue, Thu, Fri, Sat"
790,Tung Nam,1564,4.3,"24, Chattwala Gully, Near Terreti Bazar, Bara ...","Chinese, Fast Food",600,"12noon – 3pm, 6pm – 10pm (Mon, Wed, Thu, Fri...",Bara Bazar,Kolkata,Mon-Sun

Setting the not known fields to Mon-Sun

In [91]:
df.at[2, 'Days_Open'] = 'Mon-Sun'
df.at[790, 'Days_Open'] = 'Mon, Wed, Thu, Fri, Sat, Sun'
df.at[916, 'Days_Open'] = 'Mon, Wed, Thu, Fri, Sat, Sun'
# df.at[1578, 'Days_Open'] = ''
# df.at[1743, 'Days_Open'] = ''
# df.at[1818, 'Days_Open'] = ''
# df.at[2477, 'Days_Open'] = ''
df.at[2966, 'Days_Open'] = 'Mon,Tue, Wed, Fri, Sat, Sun'
df.at[56, 'Days_Open'] = 'Tue, Wed,Thu, Fri, Sat, Sun'
# df.at[3964, 'Days_Open'] = ''
# df.at[4001, 'Days_Open'] = ''
# df.at[4026, 'Days_Open'] = ''
df.at[5417, 'Days_Open'] = 'Mon, Tue, Wed, Thu, Fri, Sat'
df.at[6058, 'Days_Open'] = 'Mon, Tue, Thu, Fri, Sat, Sun'
# df.at[6528, 'Days_Open'] = ''
df.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City,Days_Open
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata,Mon-Sun
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun

In the above database there are issues like if two components are encountered then second one is ignored e.g. (mon-Sat) and (sun) then sun is ignored

In [92]:
#df.to_csv('Zomato_processed_data.csv', index=False)

In [1]:
import pandas as pd

# Specify the path to your CSV file
file_path = 'Zomato_processed_data.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

In [2]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City,Days_Open
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata,Mon-Sun
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun

In [4]:
len(df['Days_Open'].value_counts())

32

In [97]:
#Exporting time column to .csv for better analysis
#df['timing'].to_csv('timing.txt', header=False, index=False)

In [103]:
import pandas as pd

# Assuming your DataFrame is named 'df'
filtered_df = df[(df['timing'].str.contains('(Mon-Sun)')==False) & (df['timing'] != '-1')]

print(filtered_df)
len(filtered_df)

                 name  voteCount  rating  \
2          Carpe Diem       4083     4.4
15    The Sixth Sense         92     4.0
32        Roll It Out         80     3.9
54      Golden Dragon       1287     3.9
65            Rollick        411     4.2
...               ...        ...     ...
7270     Home Kitchen  Cuisines:     0.0
7285      Food Heaven          5     3.0
7289      What a Roll         96     2.9
7292    Shawarma City        117     2.9
7294              KIK  Cuisines:     0.0

                                                address  \
2                        18M, Park Street Area, Kolkata
15    25B, Karnani Mansion, Opposite Westside, Park ...
32             2, Middle Row, Park Street Area, Kolkata
54     40A, 57, Park Mansion, Park Street Area, Kolkata
65         1A, Russel Street, Park Street Area, Kolkata
...                                                 ...
7270  3rd Floor, Block A, Debojyoti Dham, Chandangar...
7285  Shop 23 & 25 Ground Floor, Opposite Helabattal...
7289  D 15, Abhishek Complex, Amarabati, Sodepur, Ko...
7292  NP 232, AN Block, Bidhannagar, Sector 5, Salt ...
7294  Muktapukur, Natunpara, Old Calcutta Road, Barr...

                                           cusine   cost  \
2                                       Ice Cream  1,000
15          Mughlai, North Indian, Rolls, Biryani  1,500
32                             Chinese, Fast Food    350
54    Coffee, Beverages, Tea, Fast Food, Desserts    600
65                      Rolls, Chinese, Fast Food    300
...                                           ...    ...
7270                           Chinese, Fast Food    100
7285                            Burger, Fast Food    200
7289                                    Beverages    250
7292                        North Indian, Chinese    300
7294                                 North Indian    500

                                               timing          Location  \
2     12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...  Park Street Area
15      12noon – 12midnight (Mon-Thu),12noon – 2am...  Park Street Area
32              11am – 1am (Mon),11am – 3am (Tue-Sun)  Park Street Area
54            Closed (Mon),12noon – 10:45pm (Tue-Sun)  Park Street Area
65    12noon – 11pm (Mon-Fri),1pm – 11:30pm (Sat-Sun)  Park Street Area
...                                               ...               ...
7270            Closed (Mon-Fri),8am – 11pm (Sat-Sun)           Barasat
7285            6pm – 11pm (Mon-Sat),5pm – 11pm (Sun)          New Town
7289     5pm – 10pm (Mon-Fri),5pm – 10:30pm (Sat-Sun)           Sodepur
7292   10:30am – 10pm (Mon-Fri),10am – 10pm (Sat-Sun)         Salt Lake
7294     9am – 10:30pm (Mon-Thu),9am – 11pm (Fri-Sun)       Barrackpore

         City Days_Open
2     Kolkata   Mon-Sun
15    Kolkata   Mon-Thu
32    Kolkata       Mon
54    Kolkata       Mon
65    Kolkata   Mon-Fri
...       ...       ...
7270  Kolkata   Mon-Fri
7285  Kolkata   Mon-Sat
7289  Kolkata   Mon-Fri
7292  Kolkata   Mon-Fri
7294  Kolkata   Mon-Thu

[565 rows x 10 columns]

C:\Users\UJJWAL KUMAR SINGH\AppData\Local\Temp\ipykernel_2436\3787142125.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = df[(df['timing'].str.contains('(Mon-Sun)')==False) & (df['timing'] != '-1')]

565

In [104]:
#filtered_df['timing'].to_csv('timing_filtered.txt', header=False, index=False)

In [3]:
import pandas as pd

# Specify the path to your CSV file
file_path = 'Zomato_processed_data.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

In [4]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing,Location,City,Days_Open
0,Peter Cat,12404,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","1,000",11am – 11:20pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
1,Naturals Ice Cream,2498,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",200,11am – 12midnight (Mon-Sun),Park Street Area,Kolkata,Mon-Sun
2,Carpe Diem,4083,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri...",Park Street Area,Kolkata,Mon-Sun
3,Barbeque Nation,5455,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)",Park Street Area,Kolkata,Mon-Sun
4,Flurys,4709,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",400,7:30am – 11pm (Mon-Sun),Park Street Area,Kolkata,Mon-Sun

In [11]:
top_loc = df['Location'].value_counts()
top_loc.tail(20), len(top_loc)

(Location
 Salt Lake City                                       1
 Near Ballygunge                                      1
 Beliaghata Road                                      1
 Near Shibpur                                         1
 Near Howrah Maidan Area                              1
 Bandhaghat                                           1
 Ashoknagar                                           1
 Near Laxmi Narayan Mandir                            1
 375 Prince Anwar Shah Road                           1
 530A Jodhpur Park                                    1
 Near Kalikapur                                       1
 Mechua Bazar                                         1
  Kankurgachi                                         1
 Near Girish Park                                     1
 Deshapriya Park                                      1
 Beliaghata Main Road Beliaghata                      1
 Das Naagar                                           1
 WARD NO 068                                          1
 Kasba Industrial Estate,Behind Ruby Hospital Area    1
 Dum Dum Road                                         1
 Name: count, dtype: int64,
 293)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7388 entries, 0 to 7387
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       7388 non-null   object
 1   voteCount  7388 non-null   object
 2   rating     7388 non-null   float64
 3   address    7387 non-null   object
 4   cusine     7388 non-null   object
 5   cost       7388 non-null   object
 6   timing     7388 non-null   object
 7   Location   7188 non-null   object
 8   City       7387 non-null   object
 9   Days_Open  7388 non-null   object
dtypes: float64(1), object(9)
memory usage: 577.3+ KB

In [13]:
len(df)

7388