# Data preparation for Restaurant AI

This data is provided by kaggle. Zomato 2022 Kolkata data

In [83]:
import pandas as pd
import numpy as np

### Function to extract location:

In [97]:
def extract_parts_of_loc(address, index):
    """
    Extracts parts from location

    Args:
        address (string): Takes in the whole string address
        index (int): The index to determine which part of the address to extract.

    Returns:
        str: The extracted location part of the address.

    Example: 
        address = "1, Middleton Row, Near Loreto House, Park Street Area, Kolkata"
        
        overall_location = extract_location(address,-1)
        -> Kolkata

        overall_location = extract_location(address,-2)
        ->Park Street Area
    """
    # Split the address into parts
    address_parts = address.split(', ')

    print(address_parts)

    if index==-1:
        loc = "".join(address_parts[index:])
    else:
        # Identify the relevant part (e.g., the last two elements)
        loc = "".join(address_parts[index:index+1])
    
    return loc

In [1]:
def extract_location(address):
    # Split the address into parts
    address_parts = address.split(', ')
    
    # Identify the relevant part (e.g., the last two elements)
    relevant_part = ', '.join(address_parts[-2:])
    
    return relevant_part

# Example usage
address = "1, Middleton Row, Near Loreto House, Park Street Area, Kolkata"
overall_location = extract_location(address)
print(overall_location)

Park Street Area, Kolkata

## Import table:

In [21]:
import pandas as pd

# Specify the path to your CSV file
file_path = 'Zkolkata.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

### Visualize
Visualize the top 5 entries

In [22]:
df.head()

,name,voteCount,rating,address,cusine,cost,timing
0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun)
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun)
2,Carpe Diem,4083 votes,4.4,"18M, Park Street Area, Kolkata",Ice Cream,"₹1,000","12noon – 12midnight (Mon, Tue, Wed, Thu, Fri..."
3,Barbeque Nation,5455 votes,4.6,"1st Floor, 24, Park Center Building, Park Stre...",Ice Cream,"₹1,800","12noon – 3:30pm, 6:30pm – 10:45pm (Mon-Sun)"
4,Flurys,4709 votes,4.2,"15, Apeejay House, Park Street Area, Kolkata","Chinese, North Indian, Continental",₹400,7:30am – 11pm (Mon-Sun)

In [23]:
# Example: Get unique values of a specific column
unique_values_column = df['name'].unique()
unique_values_column[5:20]

array(['KFC', 'Tung Fong', 'Arsalan', 'Kusum Rolls', "Kareem's",
       'WOW! China', 'Golden Spoon', 'BarBQ', 'The Kebab Factory',
       'Patisserie By Franziska', 'The Sixth Sense', 'Food King',
       'Burgrill', 'Zainab Biryani', 'The Crepe Cafe'], dtype=object)

In [65]:
# Apply extract location in top 100 rows
address = df['address']
df['Location'] = address[0:100].apply(extract_location)

In [ ]:
# Example: Get unique values of a specific column
unique_values_column = df['name'].unique()
unique_values_column[5:20]

In [63]:
# Convert 'address' column to strings
df['address'] = df['address'].astype(str)

### Adding another column called Location
Adding another column called location which will contain the area not exact address of the restaurent

In [66]:
# Specify the chunk size
chunk_size = 100

# Create an empty 'Location' column
df['Location'] = ''

# Loop through chunks
for i in range(0, len(df['address']), chunk_size):
    chunk_addresses = df['address'].iloc[i:i + chunk_size]
    
    # Apply the extract_location function to the chunk and assign values to the 'Location' column
    df.loc[i:i + chunk_size - 1, 'Location'] = chunk_addresses.apply(extract_location)

In [76]:
# Visualize data
starting_index = 1000
df[starting_index:starting_index+5]

,name,voteCount,rating,address,cusine,cost,timing,Location
1000,The Anchorage Bar - The Floatel Hotel,53 votes,3.3,"9/10, Floatel, Kolkata Jetty, Strand Road, Dal...","North Indian, Mughlai, Chinese","₹2,000",1pm – 11pm (Mon-Sun),"Dalhousie BBD Bagh, Kolkata"
1001,All Day Dinning,Cuisines:,NEW,"20B, Paddapukur Road, Bhawanipur, Kolkata","North Indian, Mughlai, Chinese",₹900,8:30am – 11pm (Mon-Sun),"Bhawanipur, Kolkata"
1002,Cakerica,12 votes,3.3,"37A, Justice Chandra Madhab Road, Bhawanipur, ...",South Indian,₹100,9am – 9pm (Mon-Sun),"Bhawanipur, Kolkata"
1003,Mughal Garden Restaurant,204 votes,3.8,"10, Kiran Shankar Roy Road, Near Millenium Par...",South Indian,₹400,11am – 11pm (Mon-Sun),"Dalhousie BBD Bagh, Kolkata"
1004,The Bengal Ghorana,Cuisines:,-,"1/3A, Rammoy Road, Near Health Point Nursing H...","Rolls, Chinese","₹2,000",24 Hours (Mon-Sun),"Bhowanipore, Kolkata"

## Analyzing rating column and cleaning
Analyzing the rating column and replacing the null entries

In [78]:
# Assuming df is your DataFrame and 'ratings' is the column containing ratings
unique_ratings = df['rating'].unique()

# Display the unique ratings
print("Unique Ratings:", unique_ratings)

Unique Ratings: ['4.2' '4.9' '4.4' '4.6' '4.1' '4.3' '4.0' '3.8' '3.6' 'NEW' nan '3.3'
 '3.7' '3.9' '3.5' '3.2' '3.1' '3.0' '2.9' '-' '3.4' '2.3' '4.5' '2.8'
 '4.7' '2.7' '2.6' '2.5' '2.1' '4.8' '2.4' '2.2' '1.9' '2.0']

Replace `NEW` and `-` ratings with `0` and `nan` with `-1`

In [86]:
# Assuming df is your DataFrame
# Replace 'NEW' with '0' and 'nan' with '-1' in the entire DataFrame
df.replace({'NEW': '0', np.nan: '-1', '-': '0'}, inplace=True)

# Now, the 'ratings' column should only contain numeric strings, and you can proceed with sorting
# Assuming 'ratings' is the column containing ratings
df['ratings'] = df['ratings'].astype(float)

In [88]:
# Sort the DataFrame based on the 'ratings' column
df.sort_values(by='ratings', inplace=True)

# Display the DataFrame
df

,name,voteCount,rating,address,cusine,cost,timing,Location,ratings
3957,Club Fenicia,Cuisines:,-1,"Godrej Waterside, Tower- I, 10th Floor, DP Blo...","North Indian, Beverages","₹2,000",-1,"Salt Lake, Kolkata",-1.0
2238,Sizzler,Cuisines:,-1,"Pouro Prashan Vaban, Sector 3, Salt Lake, Kolkata","Bengali, Bangladeshi, Seafood",₹300,-1,"Salt Lake, Kolkata",-1.0
4425,Hunger's Cafe,Cuisines:,-1,"237/B, S.D Chatterjee Road, Baruipur, Narendra...","Desserts, Beverages, North Indian",₹300,-1,"Narendra Pur, Kolkata",-1.0
3522,Haji Food Centre,Cuisines:,-1,"24, Sahapur Main Road, Alipore, Kolkata","Pizza, Fast Food",₹200,-1,"Alipore, Kolkata",-1.0
1061,Chinese Flavours,Cuisines:,-1,"14/H/6, Bibi Bagan Lane, Entally, Kolkata",Fast Food,₹350,-1,"Entally, Kolkata",-1.0
...,...,...,...,...,...,...,...,...,...
3973,Blu Orchid,718 votes,4.8,"C22, Sammilani Park, Survey Park Area, Ajoy Na...",Bakery,₹700,12noon – 11pm (Mon-Sun),"Ajoy Nagar, Kolkata",4.8
3958,Urban Masala,494 votes,4.8,"882, Lake Town Road, Near Jaya Cinema, Lake To...",Mishti,₹600,"8am – 10:30pm (Mon-Fri),8am – 11:30pm (Sat-Sun)","Lake Town, Kolkata",4.8
1109,Kopai,702 votes,4.8,"213, Sarat Bose Road, Near Post Office, Southe...",Tea,₹700,11:30am – 10pm (Mon-Sun),"Southern Avenue, Kolkata",4.8
1221,Girish Chandra Dey & Nakur Chandra Nandy,1586 votes,4.8,"56, Ramdulal Sarkar Street, Hedua Park, Hatiba...","Bakery, Desserts",₹100,7am – 10:30pm (Mon-Sun),"Hatibagan, Kolkata",4.8
1,Naturals Ice Cream,2498 votes,4.9,"77/1/A, Ground Floor, Near West Bengal Board, ...","North Indian, Continental",₹200,11am – 12midnight (Mon-Sun),"Park Street Area, Kolkata",4.9

In [98]:
df[5000:5005]

,name,voteCount,rating,address,cusine,cost,timing,Location,ratings
5973,Radha Gobinda Mistanna,36 votes,3.4,"Shop 20, 2 Bazar, Diagonal Road, B7, Block B, ...",Mishti,₹100,7am – 12midnight (Mon-Sun),"Kalyani, Kolkata",3.4
831,Haldiram & Sons Bhujiawala,44 votes,3.4,"62, Bentinck Street, Bow Bazar, Kolkata","North Indian, Chinese, Continental, Italian",₹350,8:30am – 9:30pm (Mon-Sun),"Bow Bazar, Kolkata",3.4
6256,KG4,115 votes,3.4,"422, Sudha Apartments, Garia Garden, Garia, Ko...",Chinese,₹450,12noon – 10:30pm (Mon-Sun),"Garia, Kolkata",3.4
3391,Anaya Kitchen,32 votes,3.4,"3/1, Gopal Mukherjee Road, Paikpara, Kolkata","North Indian, Chinese, Rolls, Fast Food",₹300,12noon – 12midnight (Mon-Sun),"Paikpara, Kolkata",3.4
1535,Sonar Bangla,45 votes,3.4,"7, Andul Raj Road, Hazra, Kolkata","Fast Food, Burger, American, Rolls, Wraps",₹250,12noon – 10pm (Mon-Sun),"Hazra, Kolkata",3.4

## Analyzing unique locations

In [95]:
# Assuming df is your DataFrame and 'ratings' is the column containing ratings
unique_loc = df['Location'].unique()

# Display the unique ratings
print("Unique Locations:", unique_loc)

Unique Locations: ['Salt Lake, Kolkata' 'Narendra Pur, Kolkata' 'Alipore, Kolkata'
 'Entally, Kolkata' 'Shyam Bazar, Kolkata' 'Topsia, Kolkata'
 'GT Road, Howrah' 'New Town, Kolkata' 'Tollygunge, Kolkata'
 'Baguihati, Kolkata' 'Kestopur, Kolkata' 'Tara Tala, Kolkata'
 'Beliaghata, Kolkata' 'Jodhpur Park, Kolkata' 'Paikpara, Kolkata'
 'Gariahat, Kolkata' 'Ruby Hospital Area, Kolkata' 'Kalyani, Kolkata'
 'Kona Exp Way, Howrah' 'Sonarpur, Kolkata' 'College Street, Kolkata'
 'Tangra, Kolkata' 'Bhawanipur, Kolkata' 'Near Tollygunge, Kolkata'
 'Kalikapur, Kolkata' 'Ballygunge, Kolkata' 'Dum Dum, Kolkata'
 'Kaikhali, Kolkata' 'Kasba, Kolkata' 'Baranagar, Kolkata'
 'Sinthi, Kolkata' 'Chandni Chowk, Kolkata' 'Delivery Only'
 'Dobson Road, Howrah' 'Southern Avenue, Kolkata' 'Minto Park, Kolkata'
 'Barrackpore, Kolkata' 'Behala, Kolkata' 'Maniktala, Kolkata'
 'Elgin, Kolkata' 'Park Circus Area, Kolkata' 'Near Thakur Pukur, Kolkata'
 'Picnic Garden, Kolkata' 'Garia, Kolkata' 'Lake Town, Kolkata'
 'Chinar Park, Kolkata' 'Taltala, Kolkata' 'Kidderpore, Kolkata'
 '14A Dum Dum, Kolkata' 'Khardah, Kolkata' 'Dalhousie BBD Bagh, Kolkata'
 'Barasat, Kolkata' 'Rishra, Kolkata' 'Belghoria, Kolkata'
 'Chinsura, Kolkata' 'Bara Bazar, Kolkata' 'Kalighat, Kolkata'
 'Bangur, Kolkata' 'Esplanade, Kolkata' 'Metiabruz, Kolkata'
 'Salkia, Howrah' 'Naktala, Kolkata' 'Konnagar, Kolkata'
 'DF Block New Town, Kolkata' 'Science City Area, Kolkata'
 'North Twenty Four Parganas Dum Dum, Kolkata' 'Belur, Howrah'
 'Near Uttarpara, Kolkata' 'Ajoy Nagar, Kolkata' 'Sodepur, Kolkata'
 'Camac Street Area, Kolkata' 'Kankurgachi, Kolkata' 'Wellesley, Kolkata'
 'Bally, Howrah' 'Howrah, Kolkata' 'Serampore, Kolkata'
 'Sealdah Area, Kolkata' 'Uttarpara, Kolkata' 'Desapriya Park, Kolkata'
 '28 Laldhiger dhar opp Jagadhatri Gaurage..Chandannaga 712136'
 'Chandannagar, Kolkata' 'Dalhouise BBD Bagh, Kolkata'
 'A1/15 Kalyani, Kolkata' 'Jadavpur, Kolkata' 'Lake Market Area, Kolkata'
 'Park Street Area, Kolkata' 'Newtown, Kolkata' 'Lake Gardens, Kolkata'
 'Shibpur, Howrah' 'Hooghly, Kolkata' 'New Alipore, Kolkata'
 'Hindustan Park, Kolkata' 'Howrah Maidan Area, Howrah'
 'Kadamtala, Howrah' 'Ultadanga, Kolkata' 'Golf Green, Kolkata'
 'Prince Anwar Shah Road, Kolkata' 'Thakur Pukur, Kolkata'
 'Shobha Bazar, Kolkata' 'Nagerbazar, Kolkata'
 'Saheb Para Sodepur, Kolkata' 'Baghajatin, Kolkata' 'Hatibagan, Kolkata'
 'Girish Park, Kolkata' 'Hazra, Kolkata' 'Dhakuria, Kolkata'
 'Near By Sabitri Apartment Baguihati, Kolkata' 'Near Baguihati, Kolkata'
 'Liluah, Howrah' '62/2 Andul Road, Howrah'
 'Near Ruby Hospital Area, Kolkata' 'N.S.C Bose Road,Tollygunge, Kolkata'
 'Scheme VIIM, Kankurgachi' 'Andul Road, Howrah' 'Golpark, Kolkata'
 'Machuabazar, Kolkata' 'Kankurgachi, Kolkata,'
 'Charaktola Behala, Kolkata' 'Santoshpur, Kolkata'
 'Near Ajoy Nagar, Kolkata' 'Rishra, kolkata'
 'Howrah Station Area, Howrah' '375 Prince Anwar Shah Road, Kolkata'
 'Ichapur, Howrah' '530A Jodhpur Park, Kolkata' 'Bow Bazar, Kolkata'
 'Near Nagerbazar, Kolkata' 'Ashoknagar, Tollygunge'
 'Bandhaghat, Salkia Kolkata' 'Sector 1, Salt Lake' 'Das Naagar, Howrah'
 'WARD NO 068, Kolkata' 'Near Salkia, Howrah' 'Beliaghata Road, Kolkata'
 'Deshapriya Park, Kolkata' 'Near Howrah Station Area, Howrah'
 ' Kankurgachi, Kolkata' 'Near Kalyani, Kolkata' 'Kalindi, Kolkata'
 'Near Chandannagar, Kolkata' 'Baguiati, Kolkata' 'New Town, Kolkara'
 'Unitech Gate 1 New Town, Kolkata' 'Avani Oxford, Kolkata'
 'Belur Math, Howrah' 'Near Howrah Maidan Area, Howrah'
 'Newtown, Rajarhat' 'Near Narendra Pur, Kolkata' 'Chowringhee, Kolkata'
 'Near Entally, Kolkata' 'Near Park Circus Area, Kolkata'
 'Theatre Road, Kolkata' 'New Market Area, Kolkata' 'Joka, Kolkata'
 'Near Barrackpore, Kolkata' 'Near Garia, Kolkata'
 'Near Post Office Ichapur, Howrah' 'Near Kaikhali, Kolkata'
 'Post Jadavpur University Baghajatin, Kolkata'
 'NS Avenue Serampore, Kolkata' 'Kolkata, Kolkata'
 'Paschim Barisha, Behala Kolkata' 'Hindmotor, Kolkata'
 'Circus Avenue Park Circus Area, Kolkata' 'Bhowanipore, Kolkata'
 'Bow Bazaar, Kolkata' 'Near Barasat, Kolkata' 'Madhyamgram, Kolkata'
 'Kona Express Way, Howrah' 'Padupukur, Kolkata'
 'Rajarhat New Town, Kolkata' 'Station Road Serampore, Kolkata'
 'A Block Santoshpur, Kolkata' 'Near Swagatam Sangha Club, Kestopur'
 'Loudon Street Area, Kolkata' 'Dum Dum Road, Kolkata'
 'Mirza Ghalib Street Park Street Area, Kolkata' 'Near Behala, Kolkata'
 'Kolkata, 700144' 'Konnagar, Bangalore' 'Near Ballygunge, Kolkata'
 'Bahattacharjee Serampore, Kolkata' 'Near Lake Town, Kolkata'
 'Dankuni, Hoogly' ' College Street, Kolkata' 'Sector 5, Salt Lake'
 'Sector 4, Salt Lake' 'IDBI Bank Building, New Market Area Kolkata'
 'Ballygunge, Koata' 'Sector 3, Salt Lake' 'Narendrapur, Kolkata'
 'Salt Lake, Kolkata.' 'Near Dhakuria, Kolkata' 'Falta, Kolkata'
 'Andul Road, Howrah Near Chaitali More'
 'Thakdari Main Road, Newtown Action Area 1C'
 '41A justice Chandra Madhab road Kolkata 700020'
 'Near Keya More, Sodepur' 'Sector 2, Salt Lake'
 'Beliaghata Main Road Beliaghata, Kolkata' 'Chinsurah, Kolkata'
 'Near Jyoti Cinema, Chandannagar' 'Dakshin Behala Road, Behala'
 'Near Naktala Post Office, Kolkata' 'Near Laxmi Narayan Mandir, Kasba'
 'Kona Exp Way, Kolkata' 'Swinehoe Lane Kasba, Kolkata' 'Shalimar, Howrah'
 'Manicktala, Kolkata' 'East Rajapur Santoshpur, Kolkata'
 '126 H.L Sarkar Road Post Banshdroni Thana Garia, Kolkata'
 'Shop No. 32, A-2 Wholesale Market' 'Near Autostand Nagerbazar, Kolkata'
 'HC Dutta Road, Sodepur Kolkata' 'Bhagjatin, Kolkata'
 'Near Kalikapur, Kolkata' 'South Dum Dum, Kolkata'
 'Action Area IIC, Newtown' 'Near Dum Dum, Kolkata'
 'Kamarhati Municipality Belghoria, Kolkata' 'Near New Town, Kolkata'
 'Ecospace New Town, Kolkata' 'Bali, Howrah' 'Fazir Bazar Shibpur, Howrah'
 'Phool Bagan, Kolkata Crossing Kolkata' 'Thakur Pukur Bazar, Kolkata'
 'New Town, kolkata' 'Kolkata Municipal Corporation, Kolkata'
 'Near Tara Tala, Kolkata' 'Mandir Gate, Kolkata' 'Baguhati, Kolkata'
 'Near Belur, Howrah'
 'Level Crossing Road,Baksara Bazar, Santragachi,Kolkata'
 'Sunny Dew Apartment Garia, Kolkata' 'Newtown, kolkata'
 'Near Sodepur, Kolkata' 'Belur, Kolkata' 'Madhyamgram, Barasat'
 'Parganas Baranagar, Kolkata' 'Baishnabghata Patuli Connector, Garia'
 'Pukur, Dhakuriya' 'Near Phulbagan Masjid, Kolkata'
 'Lake garden, Kolkata' 'Howrah Chunabati More, Andul Road'
 'Near Shibpur, Howrah' 'Hati Bagan, Kolkata' 'Picnic\n\n Garden, Kolkata'
 'Lord Sinha Road Elgin, Kolkata' 'Navapalli,Kasba, Kolkata'
 'Near Belghoria, Kolkata' 'Prince Anwer Shah Road, Kolkata'
 'Howrah Maiden Area, Howrah' 'Netaji Nagar, Tollygunge Kolkata'
 'Near Picnic Garden, Kolkata' 'Ambedkar Sarani, Tospia Road'
 'Tollygunge, Kolkata,' 'Jadavpur, Kolkata.' ' Garia, Kolkata'
 '43/1/1 Bholanath Nandi Lane  Kona Expressway Crossing, Belepole'
 'Chetla, Kolkata' 'Lake View Road, Southern Avenue'
 'Kanchrapara, West Bengal' 'Belgharia, Kolkata' 'Khardah, kolkata'
 'Paddapukur, Kolkata' 'Kudghat Bazar,Tollygunge, Kolkata'
 'Behala, Kolkata,' 'Dobson Road, Kolkata' 'Sealdah, Kolkata'
 'Near Rishra Municipal Office Rishra, Kolkata' 'khardah, Kolkata'
 'Chinar Park, opp Spencer and beside Arsanal.'
 'Paddapukur, Kolkata\nNear hotel Aston.. \nopp to Laxmi narayan mandir.'
 ' Park Street Area, Kolkata' 'Birati, Kolkata' 'Rajarhat, Kolkata'
 'NearTollygunge, Kolkata' 'Kalikapur Road, Kolkata' 'taltalla, Kolkata'
 'Morepukur Rishra, Kolkata' '187, Sarat Bose Road'
 'Mechua Bazar, Bara Bazar,Kolkata' 'Chittaranjan Avenue, Kolkata'
 'Beleghata, Kolkata' ' Jodhpur Park, Kolkata' 'Kolkata, West Bengal'
 'Nandalal Basu Sarani, Kolkata'
 'Beside Dunlop Bridge Mini Bus Stand, Baranagar'
 'Parnasree Palli, Kolkata' 'Near Andul Road, Howrah'
 'Bhawanipore, Kolkata' 'A-1/2(S) Kalyani, Kolkata'
 'Paddapukur, Hotel Mangalam' '\n Taltala, Kolkata' '17/1 F, Alipore Road'
 'NK Banerjee Road Rishra, Kolkata' 'Bireshpalli, Kolkata' 'nan'
 'Near Girish Park, Kolkata' 'Despriya Park, Kolkata'
 '43B ripon street Kolkata' 'Shantipally Kasba, Kolkata'
 'Hindustan Road, Kolkata' 'Chandni Chowk Street, Kolkata'
 'Camac Street, Kolkata' 'Near Kidderpore, Kolkata' 'Near Elgin, Kolkata'
 'Dum Dum, Kolkata-700028' 'Desapriya Park - West, Kolkata'
 'Beck Bagan Park Circus Area, Kolkata'
 'Harish Mukherjee Road Bhawanipur, Kolkata' 'Ripon Street, Kolkata'
 'Nutan Bazar, Kolkata' 'Near Singh Builders, Picnic Garden. Kolkata'
 '40a Ballygunge Place, Kolkata' 'Near Naktala, Kolkata'
 'Near Sinthi, Kolkata' 'Nadia, Kolkata'
 'Barrackpore Station  Near 1 Number  Platform'
 'Kasba Industrial Estate,Behind Ruby Hospital Area, Kolkata'
 'Desapriya Park, kolkata' '18, Hemanta Basu Sarani kolkata'
 'Russel Street Area, Kolkata' 'Salt Lake City, Kolkata']

### Splitting Location
Column location needs to be split into two parts City and location

I have created a helper function called `extract_part_of_loc` it can be used to extract parts of location